* {
  font-family: "Outfit";
  row-gap: 2em;
}
h1 {
  font-family: "Young Serif";
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.preparationtime {
  background-color: hsl(330, 100%, 98%);
}

p {
  font-size: 16px;
}
h3 {
  color: hsl(332, 51%, 32%);
}
h2 {
  color: hsl(14, 45%, 36%);
}
.preparationtime ul ::marker {
  color: hsl(332, 51%, 32%);
}
::marker {
  color: hsl(14, 45%, 36%);
}
